name: CI Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    name: CI Tests   # pour que github interprete comme check
    runs-on: ubuntu-latest
    outputs:
      test-result: ${{ steps.set-test-result.outputs.result }}
    steps:
      - name: Checkout code 
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run tests
        run: pytest -vv

      - name: Set test result
        id: set-test-result
        run: |
          if [ "${{ steps.run-tests.outcome }}" == "success" ]; then
            echo "result=SUCCESS" >> $GITHUB_OUTPUT
          else
            echo "result=FAILURE" >> $GITHUB_OUTPUT
          fi

  notify_pull_request:
    if: github.event_name == 'pull_request'
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Notify Google Chat
        uses: SimonScholz/google-chat-action@main
        with:
          webhookUrl: ${{ secrets.GOOGLE_CHAT_URL }}
          title: Une nouvelle branche a été merge sur le projet python test  ${{ secrets.GOOGLE_CHAT_URL }}! 
          subtitle: A new Merge on main !
      
        
