name: CI Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    name: CI Tests # pour que git le voit comme check PR
    runs-on: ubuntu-latest
    outputs:
      test-result: ${{ steps.run-tests.outcome }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run tests
        id: run-tests
        run: |
          pytest -vv
        continue-on-error: true

  notify_pull_request:
    if: github.event_name == 'pull_request'
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Notify Google Chat - PR
        uses: SimonScholz/google-chat-action@main
        with:
          webhookUrl: ${{ secrets.GOOGLE_CHAT_URL }}
          title: "Pull Request sur ${{ github.head_ref }} par ${{ github.actor }}"
          subtitle: "Résultat des tests: ${{ needs.test.outputs.test-result }}"

  notify_merge_main:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Notify Google Chat - Merge
        uses: SimonScholz/google-chat-action@main
        with:
          webhookUrl: ${{ secrets.GOOGLE_CHAT_URL }}
          title: "Merge sur main par ${{ github.actor }}"
          subtitle: "Résultat des tests: ${{ needs.test.outputs.test-result }}"
