name: CI Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    types: [opened, reopened]

jobs:
  test:
    name: CI Tests # pour que git le voit comme check PR
    runs-on: ubuntu-latest
    outputs:
      test-result: ${{ steps.set-test-result.outputs.result }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run tests
        id: run-tests
        run: |
          pytest -vv
        continue-on-error: true

      - name: Set test result
        id: set-test-result
        run: |
          if [ "${{ steps.run-tests.outcome }}" == "success" ]; then
            echo "result=SUCCESS" >> $GITHUB_OUTPUT
          else
            echo "result=FAILURE" >> $GITHUB_OUTPUT
          fi

  create_trello_card:
    if: github.event_name == 'pull_request' && (github.event.action == 'opened' || github.event.action == 'reopened')
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Create Trello Card
        run: |
          curl -X POST "https://api.trello.com/1/cards" \
            -d "key=${{ secrets.TRELLO_API_KEY }}" \
            -d "token=${{ secrets.TRELLO_TOKEN }}" \
            -d "idList=${{ secrets.TRELLO_LIST_ID }}" \
            -d "name=PR #${{ github.event.pull_request.number }}: ${{ github.event.pull_request.title }}" \
            -d "desc=**Auteur**: ${{ github.actor }}%0A**Branche**: ${{ github.head_ref }}%0A**Tests**: ${{ needs.test.outputs.test-result }}%0A%0A[Voir la PR](${{ github.event.pull_request.html_url }})"

  notify_pull_request:
    if: github.event_name == 'pull_request'
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Notify Google Chat - PR
        uses: SimonScholz/google-chat-action@main
        with:
          webhookUrl: ${{ secrets.GOOGLE_CHAT_URL }}
          title: "Pull Request sur ${{ github.head_ref }} par ${{ github.actor }}"
          subtitle: "Résultat des tests: ${{ needs.test.outputs.test-result }}"

  notify_merge_main:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Notify Google Chat - Merge
        uses: SimonScholz/google-chat-action@main
        with:
          webhookUrl: ${{ secrets.GOOGLE_CHAT_URL }}
          title: "Merge sur main par ${{ github.actor }}"
          subtitle: "Résultat des tests: ${{ needs.test.outputs.test-result }}"